body {
    background-color: rgb(192, 189, 189);
    margin: 5%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.cube {
    margin-top: 40px;
    margin-left: 80px;
    background-color: white;
    border-radius: 7px;
}

#btnContainer {
    margin-top: 60px;
    margin-left: 80px;
    height: 50px;
    width: 350px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    border: solid red 2px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(176, 149, 202);
}

.left {
    width: 50px;
}

.right {
    width: 60px;
}

.top {
    width: 50px;
}

.bottom {
    width: 80px;
}

.face1 {
    background-color: white;
}

.face2 {
    background-color: orange;
}

.face3 {
    background-color: yellow;
}

.face4 {
    background-color: red;
}

.face5 {
    background-color: green;
}

.face6 {
    background-color: blue;
}

@media (max-width:600px) {
    .cube {
        margin-top: 40px;
        margin-left: 30px;
        background-color: white;
        border-radius: 7px;
        width: 290px;
        height: 290px;
    }

    #btnContainer {
        margin-top: 60px;
        margin-left: 40px;
        height: 50px;
        width: 290px;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn {
        border: solid red 2px;
        padding: 0px;
        margin-left: 5px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        text-align: center;
        height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(176, 149, 202);
    }

    .face1 {
        background-color: white;
    }
    
    .face2 {
        background-color: orange;
    }
    
    .face3 {
        background-color: yellow;
    }
    
    .face4 {
        background-color: red;
    }
    
    .face5 {
        background-color: green;
    }
    
    .face6 {
        background-color: blue;
    }
    
}


@media (max-width:500px) {
    .cube {
        margin-top: 40px;
        margin-left: 20px;
        background-color: white;
        border-radius: 7px;
        width: 290px;
        height: 290px;
    }

    #btnContainer {
        margin-top: 60px;
        margin-left: 20px;
        height: 50px;
        width: 290px;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn {
        border: solid red 2px;
        padding: 0px;
        margin-left: 5px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        text-align: center;
        height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(176, 149, 202);
    }

    .face1 {
        background-color: white;
    }
    
    .face2 {
        background-color: orange;
    }
    
    .face3 {
        background-color: yellow;
    }
    
    .face4 {
        background-color: red;
    }
    
    .face5 {
        background-color: green;
    }
    
    .face6 {
        background-color: blue;
    }
    
}

